Body{background-color:darkred;}
h2{
	color: white;
font-family:sans-serif;
border-style: dashed;
border-color: violet;
background-color: darkred;
}
p{color: white;
font-family:sans-serif;
background-color: darkred;
}
h1{font-family:sans-serif;
background-color:darkred;
	font-style: italic;
   color: white;
	font-size: 1.5em;}
	blockquote{
	border-style:solid;
	border-color: white;
	color: darkred;
	font-size: 1.7em;
		font-style: oblique;
	background-color:bisque; }
img {border-style: solid;
	border-color: white;
}
#links {
float: left;
width: 22%;
margin: 0 0 0 2.5%;
}
#main {
float: left;
width: 40%;
margin: 0 2.5%;
}
#news {
float: left;
width: 22%;
margin: 0 2.5% 0 0;
}
	#footer {	clear:left;
		border-style:solid;
		color: darkred;
		font-size: 1.2em;
			font-style: oblique;
			border-color: white;
			background-color: darkred;
		}
		a.smooth {
display: block;
text-decoration:none;
text-align: left;
padding: 0.5em 0.5em;
width: 10em;
border-radius: 1em;
color: darkred;
background-color:bisque;
transition-property: background-color;
transition-duration: 0.3s;
}
a.smooth:hover, a.smooth:focus {
background-color:lightblue;
}
