Body{background-color:burlywood;}
p{margin-left: 2%;
	color: red;
font-family:sans-serif;}
h1{font-family:fantasy;
	font-style: italic;
color: darkred;
	font-size: 1.5em;}
	h3{color:darkviolet;}
	blockquote{
	border-style:solid;
	color: azure;
	font-size: 1.7em;
		font-style: oblique;
	background-color:darkred; }
strong{font-style:italic;
	font-size: 1.5em;}
#main {
float: left;
width: 60%;
margin: 0 5%;
border-style: dashed;
border-color:azure;
color: red;
}
#links {
	float: left;
	width: 22.5%;
	margin: 0 0 0 2.5%;
}
	#footer {	clear:left;
		border-style:solid;
		color: azure;
		font-size: 1.2em;
			font-style: oblique;
		background-color:darkred;
		}
		a.smooth {
display: block;
text-decoration:none;
text-align: left;
padding: 0.5em 0.5em;
width: 10em;
border-radius: 1em;
color: darkred;
background-color:bisque;
transition-property: background-color;
transition-duration: 0.3s;
}
a.smooth:hover, a.smooth:focus {
background-color:lightblue;
}
